<a href="https://colab.research.google.com/github/finesaaa/clustering-assignment/blob/main/clustering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np 
import pandas as pd

In [ ]:
data = pd.read_csv("travel insurance.csv")
data.head(10)

  Agency    Agency Type Distribution Channel  ... Commision (in value) Gender  Age
0    CBH  Travel Agency              Offline  ...                 9.57      F   81
1    CBH  Travel Agency              Offline  ...                 9.57      F   71
2    CWT  Travel Agency               Online  ...                29.70    NaN   32
3    CWT  Travel Agency               Online  ...                23.76    NaN   32
4    CWT  Travel Agency               Online  ...                11.88    NaN   41
5    JZI       Airlines               Online  ...                42.35      F   44
6    CWT  Travel Agency               Online  ...                23.76    NaN   32
7    CWT  Travel Agency               Online  ...                65.34    NaN   29
8    CWT  Travel Agency               Online  ...                11.88    NaN   44
9    CWT  Travel Agency               Online  ...                59.40    NaN   37

[10 rows x 11 columns]

In [ ]:
data.dropna(inplace=True)
data.head(5)

   Agency    Agency Type Distribution Channel  ... Commision (in value) Gender  Age
0     CBH  Travel Agency              Offline  ...                 9.57      F   81
1     CBH  Travel Agency              Offline  ...                 9.57      F   71
5     JZI       Airlines               Online  ...                42.35      F   44
11    JZI       Airlines               Online  ...                 6.30      M   47
12    KML  Travel Agency               Online  ...                49.40      F   48

[5 rows x 11 columns]